<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CMS</title>
    <meta name="description" content="CMS ASP.NET Core Learn Application" />
    <meta name="author" content="Londeroner" />
    <link href="~/favicon.ico" rel="icon" />
    @await Html.PartialAsync("_ApplicationHeaderStylesPartial") 
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="wrapper">
        <div id="content">
            @RenderBody()
        </div>
    </div>
    @await Html.PartialAsync("_UIScriptsPartial") 
    @RenderSection("Scripts", required: false)
</body>
</html>